* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    background-color: rgb(180, 78, 232);
    justify-content: space-around;
    color: rgb(234, 192, 255);
    height: 50px;
    align-items: center;
}

nav .logo {
    font-family: "Pacifico", cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    color: rgb(234, 192, 255);
    text-decoration: none;
    font-size: 0.8em;
}